body{
    font-family: 'Montserrat', sans-serif; 
}
#wrapper{
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
#hero-container{
    background-image: url(/photos/pexels-tolga-ahmetler-8184179.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#credit{
    position: absolute;
    bottom: 0;
    text-decoration: none;
    margin: 10px 10px;
    color: rgba(255,255,255,0.5);
}
#credit{
    position: absolute;
    bottom: 0;
    text-decoration: none;
    margin: 10px 10px;
    color: rgba(255,255,255,0.5);
}
.logo-div{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#logo{
    height: 300px;
}
#form-section{
    box-sizing: border-box;
    background-color: #1C7272;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-container{
    background-color: rgba(217, 217, 217, 0.3);
    height: 300px;
    padding: 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
#form-heading{
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 20px;
}
#input-container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap: 30px;
}
.input-divs{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form-labels{
    color: white;
    font-size: 1.2rem;
}
.type{
    border-radius: 6px;
    border-style: none;
    outline: none;
    padding: 8px;
    margin-top: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: text;
    /* width: 10vw; */
    transition: 0.1s;
    transition-timing-function:ease-in-out;
    background-color: #D9D9D9;

}
.type:focus{
    outline: solid black;
}
.type:focus:invalid{
    outline: solid #c24236;
}
.type:focus:valid{
    outline: solid #50a832;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    }
#sub-log, #motto-div{
    position: absolute;
}
#sub-log{
    margin: 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
#submit-btn{
    /* margin: 80px 20px; */
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: black;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#submit-btn:hover{
    background-color: white;
    color: black;
    transition:0.3s;
}
#submit-btn:active{
    box-shadow: none;
}

#log-in-para{
    color: white;
    font-style: italic;
}

#motto-div{
    height: 0px;
    top: 0;
    margin: 50px;
}

.motto-para{
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
}
#motto-heading{
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem;
    margin-top: 20px;
}
span{
    color: black;
    font-weight: bold;
}

.credit-link{
    color: white;
}

a{
    text-decoration: none;
    color:antiquewhite;
    transition: 0.3s;
    color: black;
}

a:hover{
    text-decoration: underline;
}


/* Media queries */

@media(max-width: 1558px){
    #input-container{
        gap: 10px;
    }

    .type{
        margin-top: 20px;
        width: 10vw;
    }

    #sub-log{
        margin: 80px 20px;
    }
}

@media(max-width: 1320px){
    #hero-container{
        width: 30vw;
    }

    #input-container{
        gap: 20px;
    }
    #sub-log{
        margin: 60px 20px;
    }
}

@media(max-width:1110px){
    #wrapper{
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        height: 100vh;
    }

    #hero-container{
        width: 100vw;
        height: max-content;
    }

    .logo-div{
        padding: 10px;
        position: static;
    }

    #logo{
        height: 100px;
    }

    #credit{
        display: none;
    }
    #form-section{
        flex-direction: column;
        /* justify-content: center; */
        height: 100%;
    }
    #form-container{
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        background-color: #1C7272;
    }
    #motto-div{
        display: none;
    }
    #sub-log{
        position: static;
    }
    #form-container{
        height:fit-content;
        margin-top: 310px;
    }
    #input-container{
        flex-direction: column;
        gap: 0px;
    }
    .input-divs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }
    form{
        display:grid;
        flex-direction: row;
        flex-wrap:nowrap;
    }
    .form-labels{
        display: none;
    }
    .type{
        width: 100%;
        padding: 20px;
        font-family: 'Montserrat', sans-serif; 
        font-size: 1rem;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: black;
        font-size: larger;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        opacity: 1;
        }
}

