body{
    font-family: 'Montserrat', sans-serif; 
}
#wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
#hero-container{
    background-image: url(/photos/pexels-tolga-ahmetler-8184179.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#credit{
    position: absolute;
    bottom: 0;
    text-decoration: none;
    margin: 10px 10px;
    color: rgba(255,255,255,0.5);
}
.logo-div{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 300px;
}
#form-section{
    box-sizing: border-box;
    background-color: #1C7272;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-container{
    background-color: rgba(217, 217, 217, 0.3);
    height: 300px;
    padding: 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
#form-heading{
    font-size: 1.5rem;
    font-style: italic;
    margin-left: 20px;
}
#input-container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.input-divs{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form-labels{
    color: white;
    font-size: 1.2rem;
}
.type{
    border-radius: 6px;
    border-style: none;
    outline: none;
    padding: 8px;
    margin-top: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    cursor: text;
    width: 10rem;
    transition: 0.1s;
    transition-timing-function:ease-in-out;
}
.type:focus{
    outline: solid black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    }
#submit-btn, #log-in-para, #motto-div{
    position: absolute;
}
#submit-btn{
    margin: 80px 20px;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: black;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#submit-btn:hover{
    background-color: white;
    color: black;
    transition:0.3s;
}
#submit-btn:active{
    box-shadow: none;
}

#log-in-para{
    margin: 140px 25px;
    color: white;
    font-style: italic;
}

#motto-div{
    height: 0px;
    top: 0;
    margin: 50px;
}

.motto-para{
    color: white;
    font-size: 1.4rem;
    font-weight: 100;
}
#motto-heading{
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem;
    margin-top: 20px;
}
span{
    color: black;
    font-weight: bold;
}

.credit-link{
    color: white;
}

a{
    text-decoration: none;
    color:antiquewhite;
    transition: 0.3s;
    color: black;
}

a:hover{
    text-decoration: underline;
}
